{% extends 'kaliningrad_routes.html' %}

{% block content %}
    <div class="col-12">
        <form
            class="row"
            method="post"
            action="{% url 'users:login' %}"         {# ← Явно указываем URL для POST #}
            enctype="multipart/form-data"
        >
            {% csrf_token %}                           {# ← Сразу после открытия формы #}

            <div class="col-6">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
<!--                            <h3 class="card-title">-->
<!--                                Вход-->
<!--                            </h3>-->
                        </div>
                        <div class="card-body">
                            {{ form.as_p }}
                            <p><a href="{% url 'users:password_reset' %}">Забыли пароль?</a></p>
                            <button type="submit" class="btn btn-success">Войти</button>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
